.App {
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  padding: 20px;
  margin: 0 auto;
  background: #fff;
  box-sizing: border-box;
}

img {
  margin: 0 auto;
  max-width: 500px;
  /*max-height: 500px;*/
  width: 100%;
  height: auto;
}

.btn {
  all: unset;
  margin: 0 auto;
  width: 100%;
  height: 50px;
  text-align: center;
  background: #1e2a78;
  color: #fff;
  cursor: pointer;
}

table {
  width: 100%;
}

td {
  padding: 10px;
}



@keyframes jump {

  25% {
    transform: rotate(-20deg) translateX(-20px) translateY(-40px);
  }

  50%{
    transform: rotate(-0) translateX(-0) translateY(-0);
  }

  75%{
    transform: rotate(20deg) translateX(20px) translateY(-30px);
  }
}

section {
  position: relative;
  animation: jump 1.5s ease-in-out infinite;
  transform-origin: 50% 50%;
}


.head {
  width: 110px;
  height: 70px;
  background: #f00;
  border-radius: 100px 100px 15px 15px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, .2);
  margin-top: 50px;
}

.head::before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  display: block;
  position: absolute;
  left: 45px;
  top: 100px;
  opacity: .7;
}

.head::after {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  display: block;
  position: absolute;
  left: 35px;
  top: 70px;
  opacity: .7;
  box-shadow: 40px 20px #fff;
}

.foot {
  border-bottom: 50px solid #aaa;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 0;
  width: 50px;
  border-radius: 10px;
  position: relative;
  left: 50%;
  top: -3px;
  transform: translateX(-50%);
  z-index: -1;
}